<div class="authenticationPage">
    <div class="roundClass"><a [routerLink]="'/login'">X</a></div>
    <div class="d-flex authWrapper">
        <h2><b>Forgot your password?</b></h2>
    </div>
    <div class="tab-panel">
    <form [formGroup]="forgotForm" (ngSubmit)="forgotUser()">
        <div class="mb-3">
          <input type="email" class="form-control" placeholder="Email Address" formControlName="email" [ngClass]="[forgotForm.controls['email'].touched && forgotForm.controls['email'].invalid ? 'is-invalid':'']">
          <div style="color: red;" *ngIf="commonEmail['email'].errors?.['required'] && commonEmail['email'].invalid && commonEmail['email'].touched" >
            Name is required.
          </div>
          <div style="color: red;" *ngIf="commonEmail['email'].errors?.['minlength'] && commonEmail['email'].invalid && commonEmail['email'].touched">
            Name must be at least 4 characters long.
          </div>
        </div>

        <div class="d-flex flex-grow-1 justify-content-center align-items-center">
          <button [disabled]="forgotForm.invalid" class="btn btn-dark">Reset Password</button>
        </div>

        <div class="text-center mt-2">
          <span class="text-center mt-1" [routerLink]="'/login'" style="cursor: pointer;">login</span>
        </div>
      </form>
      </div>
    </div>